*,
*::before,
*::after {
    /* alles reseten*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 1.6rem;
}

html {
    /* de html Font size op 10 pixels zetten. 1rem => 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: #dadada;
    font-family: sans-serif;
    padding: 3rem;
}

.container {
    background-color: #dadada;
    width: 28.8rem;
    height: 29rem;
    border-radius: 1rem;
    margin: 3rem;
}

.todo_ul {
    height: 100%;
    list-style: none;
    color: #242424;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.todo_item {
    display: inline-block;
    font: 5rem;
    font-weight: 700;
    border-bottom: solid 2px #242424;
}

.todo_status {
    padding-top: 3rem;
    font-style: oblique 60deg;
}

.todo_status {
    color: red;
}

.pending {
    color: orange;
}

.done {
    color: green;
}

*.todo_datum {
    font-family: monospace;
}