.todo_status {
    padding-top: 3rem;
    font-style: oblique 60deg;
}

.todo {
    display: flex;
    color: red;
    cursor: pointer;
}

.pending {
    display: flex;
    color: orange;
    cursor: pointer;
}

.done {
    display: flex;
    color: green;
    cursor: pointer;
}

.fa-solid {
    cursor: pointer;
}