.addTodo_container {
    background-color: #dadada;
    width: 28.8rem;
    height: 29rem;
    border-radius: 1rem;
    margin: 3rem;
    padding: 3rem;
}

.addTodo_text {
    height: 85%;
    width: 100%;
    border-radius: 1rem;
    resize: none;
    padding: 1rem;
}

.addTodo_button {
    margin-top: 1rem;
    border-radius: 1rem;
    height: 3rem;
    width: 9.5rem;
    font-size: 1.3rem;
    border: 1px black solid;
    background-color: #f0f0f0;
    margin-left: 1rem;

}

.status_input {
    height: 3rem;
    width: 11.5rem;
    font-size: 1.3rem;
}